.box {
    background: white;
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    position: absolute;
    align-content: center;
    text-align: center;
    width: 400px;
    height: 600px;

}

#carbox{
  border: 2px solid black;
    height: 300px;
    width: 400px;
    align-content: center;
}

#svg {
    background-color: white;
}

.colorbuttons {
    height: 45px;
    width: 60px;
    border-radius: 100%;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

.levelbutton {
    height: 70px;
    width: 130px;
    font-size: 20px;
    background-color: aquamarine;
}

#startbutton {
    height: 70px;
    width: 400px;
    background-color: orangered;
    font-size: 40px;
}

.topscreen {
    border: 2px solid black;
    height: 460px;
    align-content: center;
    background-color: palegreen;
}

.bottomscreen {
    border: 2px solid black;
    background-color: azure;
    height: 130px;
    text-align: center;
}

#timer {
    border: 2px solid black;
    background-color: aliceblue;
    height: 65px;
    width: 190px;
    margin-left: 102px;
    margin-top: 14px;
    margin-bottom: 3px;
}

#menubutton {
    width: 195px;
    height: 30px;
    background-color: orangered;
    font-weight: bold;
}


